{% extends "reader/base_jquery.html" %}
{% block title %}PiReader Home{% endblock %}
{% block main %}
    <div id="actions">
        <a class="link-button" href="{% url 'reader:import' %}">Import</a>
        <a id="subscribe_button" href="#">Subscribe</a>
        <div id="subscribe_form" style="display:none">
            <label for="feed_url">Paste or type in a feed URL</label><br/>
            <input id="feed_url" type="text"/> <input id="add_button" type="submit" value="Add"/>
        </div>
        <span id="feed_actions" style="display:none">
            <a class="link-button" href="#" onclick="PiReader.refresh()">Refresh</a>
            <a class="link-button" href="#" onclick="PiReader.mark_all_read()">Mark All Read</a>
        </span>
    </div>
    <div id="reader_main">
        <div id="feeds">
        </div>
        <div id="items">
            <h2 id="items_title"></h2>
            <div id="items_loading"></div>
            <div id="feed"></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
    $(function(){
        $.get('subscriptions', callback = function(data, textStatus, xhr){
            console.log("Subscriptions:", data);
            PiReader.load_subscription(data);
        });
        $("#subscribe_button").button().click(function(event){
            $("#subscribe_form").slideToggle();
            event.preventDefault();
        });
        $("#add_button").button().click(function(event){
            PiReader.validate_and_add_subscription();
        });
        $("a.link-button").button();

        var main = $('#reader_main');
        var scrollTop, scrollBottom;
        $(window).resize(function(){
            main.height($(window).height()- main.offset().top);
            scrollTop = $('#items').offset().top;
            scrollBottom = scrollTop + $('#items').height();
        });
        $(window).resize();

        var displayWidget = $('#feed').singleItemFeedWidget();
        PiReader.init(displayWidget);
    });
    </script>
{% endblock %}