{% extends "reader/base_jquery.html" %}
{% block title %}PiReader Home{% endblock %}
{% block main %}
    <div id="actions">
        <a class="link-button" href="{% url 'reader:import' %}">Import Subscriptions</a>
        <a id="subscribe_button" href="#">Add Subscription</a>
        <div id="subscribe_form" style="display:none">
            <label for="feed_url">Paste or type in a feed URL</label><br/>
            <input id="feed_url" type="text"/> <input id="add_button" type="submit" value="Add"/>
        </div>
    </div>
    <div id="reader_main">
    <div id="feeds">
    </div>
    <div id="items">
        <h2 id="items_title"></h2>
        <div id="items_content"></div>
    </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
    $(function(){
        $.get('subscriptions', callback = function(data, textStatus, xhr){
            console.log("Subscriptions:", data);
            load_subscription(data);
        });
        $("#subscribe_button").button().click(function(event){
            $("#subscribe_form").slideToggle();
            event.preventDefault();
        });
        $("#add_button").button().click(function(event){
            validate_and_add_subscription($);
        });
        $("a.link-button").button();
        var main = $('#reader_main');
        $(window).resize(function(){
            main.height($(window).height()- main.offset().top);
        });
        $(window).resize();
    });
    </script>
{% endblock %}