#actions {
    padding:12px;
}

#feeds {
    width : 200px;
    float : left;
    overflow-y: scroll;
    height: 100%;
}

#feeds ul {
    list-style: none;
    margin: 0;
    padding : 0;
    border : 0;
}

#feeds li {
    padding-top : 0.25em;
}

#feeds .count {
    margin-left: 0.5em;
}

#items {
    margin-left : 212px;
    padding-right:12px;
    overflow-y : auto;
    height: 100%;
}

.item {
    margin: 12px 0px;
    border: 1px grey solid;
}

.item h3 {
    margin:12px;
}

.item .byline {
    font-size: small;
    font-weight: lighter;
    margin: 3px 12px;
}

.item .dateline {
    float: right;
    font-size: small;
    margin: 12px;
}

.item .item-body {
    margin : 1em 12px;
}

.item .actions {
    background: #d3d3d3;
    padding: 3px;
}

.item .actions input {
    vertical-align: middle;
}

.current {
    border-left-color : cornflowerblue;
    border-left-width : 2px;
}

.folder-name {
    border-top : 1px #ccc solid;
    background-color: #eee;
    padding : 3px;
}

#feeds {
    border-top : 1px solid rgba(0,0,0,0.4);
}

#feeds a {
    color : black;
    text-decoration: none;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    font-family: arial, sans-serif;
}

.name-text {
    display : inline-block;
    overflow : hidden;
    text-overflow: ellipsis;
    white-space : nowrap;
    max-width: 8em;
}

.count {
    color : #666;
    font-size: 85%;
    display : inline-block;
    vertical-align: top;
}

.folder : first-child {
    padding-top: 0;
}

.folder li {
    margin-left : 1em;
}