#actions {
    padding:12px;
}

#feeds {
    width : 200px;
    float : left;
    overflow-y: scroll;
    height: 100%;
}

#feeds ul {
    list-style: none;
    padding : 0;
    border : 0;
}

#feeds li {
    padding-bottom : 0.5em;
}
#feeds .count {
    margin-left: 0.5em;
}

#items {
    margin-left : 212px;
    padding-right:12px;
    overflow-y : auto;
    height: 100%;
}

.item {
    margin: 12px 0px;
    border: 1px grey solid;
}

.item h3 {
    margin:12px;
}

.item .byline {
    font-size: small;
    font-weight: lighter;
    margin: 3px 12px;
}

.item .dateline {
    float: right;
    font-size: small;
    margin: 12px;
}

.item .item-body {
    margin : 1em 12px;
}

.item .actions {
    background: #d3d3d3;
    padding: 3px;
}

.item .actions input {
    vertical-align: middle;
}

.current {
    border-left-color : cornflowerblue;
    border-left-width : 2px;
}
