#actions {
    padding:12px;
}

#feeds {
    width : 200px;
    float : left;
    overflow-y: scroll;
    height: 100%;
}

#feeds ul {
    list-style: none;
    padding : 0;
    border : 0;
}

#feeds li {
    padding-bottom : 0.5em;
}
#feeds .count {
    margin-left: 0.5em;
}

#items {
    margin-left : 212px;
    padding-right:12px;
    overflow-y : auto;
    height: 100%;
}

.item {
    margin: 12px 0px;
    border: 1px grey solid;
    padding : 12px;
}

.item h3 {
    margin:0;
}

.item .byline {
    font-size: small;
    font-weight: lighter;
}

.item .dateline {
    float: right;
    font-size: small;
}

.item .item-body {
    margin-top : 1em;
}
.current {
    border-left-color : cornflowerblue;
}
